#ab{
    max-width: 960px;
}
#ad{
    max-width: 960px;
}
#d{
    color: white;
}

main {
    text-align: center;
}

#popup form{
    background-color: #5aeee8;
    width: 100vW;
    border-width: 3px;
}
textarea{
    overflow: auto;
    resize: none;
}

@media screen and (min-width:576px) {
    #popup form{
        max-width: 50vW;
    }
    textarea{
        resize: vertical;
    }
}